body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    ;
}  
  
  
  
  .grid-container {
        display: grid;
        grid-template-areas: 
            'header'
            'main'
            'footer'
        ;
        grid-row-gap: 15px;
    }
    
    .header-container{
        grid-area: header;

    }
          
    .nav-container{
        display: flex;
        align-items: center;
        justify-content: space-between;


    }


    .section-container {
        grid-area: img;
        background-image: url(assets/tech-moms-working.jpg);
        background-size: cover;
        height: 500px;
    }

    .footer-container{
        grid-area: footer;

    }

    .main-container {
        grid-area: main;
        display: grid;
        grid-template-columns: 67% 30%;
        grid-template-areas:
        'img sidebar' 
        ;
        grid-gap: 10px;

    }

    <!--img is 70% and sidebar is 30 --->

    .sidebar-container{
        grid-area: sidebar;

    }